.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 270px;
  height: 100vh;
  max-height: 900px;
  background: rgba(242, 234, 225, 1);
  .top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .logo {
      display: flex;
      align-items: center;
      padding-left: 25px;

      div {
        width: 23px;
        height: 0;
        border-top: 4px solid rgba(248, 212, 66, 1);
        border-bottom: 4px solid rgba(248, 212, 66, 1);
        transform: rotate(-90deg);
      }

      span {
        font-size: 20px;
        font-weight: 700;
        line-height: 24.38px;
        color: rgba(0, 0, 0, 1);
      }
    }

    .user {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      .userImageContainer {
        .userImage {
          border-radius: 50%;
        }
      }

      .userDetails {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2 {
          font-weight: 700;
          font-size: 17px;
          line-height: 20.72px;
          color: rgba(0, 0, 0, 1);
        }

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 17.07px;
          color: rgba(254, 175, 0, 1);
          text-align: center;
        }
      }
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-left: 84px;

    .centerContainer {
      display: flex;
      gap: 10px;
      .centerTitle {
        font-size: 14px;
        font-weight: 500;
        line-height: 17.07px;
        color: rgba(0, 0, 0, 1);
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    padding-left: 93px;

    .bottomTitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 17.07px;
      color: rgba(0, 0, 0, 1);
    }

    .bottomIcon {
      padding-left: 10px;
    }
  }
}
