.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1440px;
  max-height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(254, 175, 0, 1), rgba(248, 212, 66, 1));

  .container {
    width: 475px;
    height: 550px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .headingBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      .heading {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
          width: 39px;
          height: 0;
          border-top: 6px solid rgba(248, 212, 66, 1);
          border-bottom: 6px solid rgba(248, 212, 66, 1);
          transform: rotate(-90deg);
        }

        span {
          font-size: 32px;
          font-weight: 700;
          line-height: 39.01px;
          color: #000;
          text-align: center;
        }
      }

      .signin {
        display: flex;
        flex-direction: column;
        gap: 10px;
        div {
          font-weight: 600;
          font-size: 22px;
          line-height: 26.82px;
          color: rgba(0, 0, 0, 1);
          display: flex;
          justify-content: center;
        }

        p {
          color: rgba(108, 108, 108, 1);
          font-weight: 400;
          font-size: 14px;
          line-height: 17.07px;
        }
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .formSection {
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 17.07px;
          color: rgba(108, 108, 108, 1);
          width: 41px;
          height: 17px;
        }

        input {
          color: rgba(205, 205, 205, 1);
          font-size: 12px;
          border-radius: 4px;
          border: 1px solid rgba(229, 229, 229, 1);
          height: 44px;
          width: 415px;
          padding-left: 10px;
        }
      }
    }

    .buttonContainer {
      display: flex;
      flex-direction: column;
      gap: 30px;
      button {
        font-weight: 500;
        font-size: 14px;
        line-height: 17.07px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(254, 175, 0, 1);
        width: 415px;
        height: 44px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
      }

      div {
        display: flex;
        justify-content: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 17.07px;
        color: rgba(108, 108, 108, 1);
        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 17.07px;
          color: rgba(254, 175, 0, 1);
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
